{% extends 'base.html' %}
{% load static %}
{% block title %}Аудитории{% endblock %}

{% block content %}
<ul>
    <!-- http://fn.bmstu.ru/images/footer_fn.png -->
    <div class="order-text">Аудитории МГТУ{{ data.id }} <img src="http://fn.bmstu.ru/images/footer_fn.png"/></div> 
    <form action="" method="get">
        <!-- {% csrf_token %} -->
        <div class="buttons-container">
  <input id="text" name="sub" type="text" value="{{data.query}}"><br><br>
  <div class="buttons-container">
    <button class="button-arounder">Поиск</button>
  </div>
   <!-- <input type="submit" value="Поиск" >  -->
    </div>
     
    </form>

    {% for order in data.orders %}
        {% include 'order_element.html' with element=order %}
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}

</ul>

{% endblock %}