{% extends 'base.html' %}
{% load static %}
{% block title %}Список заказов{% endblock %}

{% block content %}
<ul>
    
    <div class="order-text">Аудитории МГТУ{{ data.id }} <img src="http://fn.bmstu.ru/images/footer_fn.png"/></div> 
    {% for order in data.orders %}
    <div class="order-listtext">  {% include 'order_element.html' with element=order %}</div>
    {% empty %}
        <li>Список пуст</li>
    {% endfor %}

</ul>
<form action="sendText" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input name="text" type="text"><br><br>
    <input type="submit" value="Поиск" >
</form>
{% endblock %}