{% load static %}
<div class="order-div" >
    <div style=" text-align: center; font-weight: 500">  
            <div class="delete-button">
                <form method="post" action="deleteCargo/">
                  {% csrf_token %}
                  <input type="hidden" name="id_del" value="{{element.id}}">
                  <button type="submit" style="right: 240px; text-align: right;  color: #8B4513; background-color: #FFEBCD; text-size-adjust: 50px;" name="del_btn">Удалить</button > 
              </form>
            </div>
            <a text-align: center, href="{% url 'order_url' element.number %}"><div class="text">{{ element.number}} 
            </a>
            
    </div> 
    
    </div>
    <center>
    <img class="order-img" src="{% static element.img %}" weight=300px height=250px alt="My image">
    </center>
    <div class="cards" >
    <div class="text"  >
        <br> Корпус: {{element.corpus}} 
        <br>
    </div>
    </div>
   
</div>