.order-text {
    font-size: 105px;
    color: #4D3A23;
    vertical-align: middle;
    display: flex;
    text-align: center;
    background-color: #f4e0b59b;
  }
  
  .text{
    font-size: 25px;
    color: #4D3A23;
    background-color: #f4e0b59b;
  }

  .text_order{
    font-size: 25px;
    color: #4D3A23;
    background-color: #f4e0b59b;
    width: 1920px;
    height: 1000px;
    background-size: cover;
    background-position: center;
    vertical-align: top;
  }

  .order-list{
    font-size: 30px;
    color: #4D3A23;
    background-color: #f4e0b59b;
  }

  .cards{
    font-size: 20px;
    background-color: #f4e0b59b;
  }

  .button[type="text"]{
    padding: 5px;
    border:1px solid #FFE3A7;
    border-radius: 3px;
  }

  .button[type="submit"]{
    padding: 5px 10px;
    background-color: #FFE3A7;
    color:#FFE3A7;
    border: none;
    border-radius: 3px;
  }
  
  .search[type="text"]{
    padding: 5px;
    font-size: 20px;
    background-color: #FFE3A7;
  }

  .search[type="submit"]{
    padding: 5px 10px;
    background-color: #FFE3A7;
    color:#FFE3A7;
    border: none;
    border-radius: 3px;
  }

a{
  font-size: 75px;
  color: #4D3A23;
  text-decoration: none;
}
.order-listtext{
  font-size: 60px;
  text-align: center;
  text-emphasis-color:#4D3A23;;
  color: #4D3A23;
  background-color: #FFE3A7;
}
.container {  
  display: flex;  
  flex-direction: column;
}

/*--------------------*/
.order-div {
    width: 395px;
    height: 395px;
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.2s ease-in-out;
    background-color: #f4e0b59b;
}





body {
  background: #f4e0b59b;
  margin: 0;
  padding: 0;
}

.buttons-container {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
 /*  justify-content: center; */
}

button {
  background: #4D3A23;
  border: solid 2px #4D3A23;
  padding: .375em 1.125em;
  font-size: 1rem;
}

.button-arounder {
  font-size: 2rem;
  background: #FFE3A7;
  color: #4D3A23;
  
  box-shadow: 0 0px 0px #4D3A23;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
  --dur: .15s;
  --delay: .15s;
  --radius: 16px;
  
  transition:
    border-top-left-radius var(--dur) var(--delay) ease-out,
    border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
    box-shadow calc(var(--dur) * 4) ease-out,
    transform calc(var(--dur) * 4) ease-out,
}

.button-arounder:hover,
.button-arounder:focus {
  box-shadow: 0 4px 8px #4D3A23;
  transform: translateY(-4px);
  background: #f4e0b59b;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}