.order-text {
    font-size: 105px;
    color: #4D3A23;
    vertical-align: middle;
    display: flex;
    background-color: #FFE3A7;
  }
  .button[type="text"]{
    padding: 5px;
    border:1px solid #FFE3A7;
    border-radius: 3px;
  }

  .button[type="submit"]{
    padding: 5px 10px;
    background-color: #FFE3A7;
    color:#FFFFF0;
    border: none;
    border-radius: 3px;
  }
  

.order-listtext{
  font-size: 60px;
  text-align: center;
  background-color: #FFFFF0;
}
.container {  
  display: flex;  
  flex-direction: column;
}

.background{
  width: 1920px; /* Ширина изображения background: url(image.jpg); */
  height: 1000px; /* Высота изображения */
  background: url(https://glamours.name/uploads/posts/2022-02/1644907212_78-glamours-name-p-fon-svadebnii-nezhnii-krasivo-foto-85.jpg); /* Прописываем путь к файлу */
  background-repeat: no-repeat; /* Не повторяем */
  background-size: cover; /* Размер фона */
  background-position: center; /* Позиция картинкипо центру */
}
.backgrounds{
  width: 1920px; /* Ширина изображения background: url(image.jpg); */
  height: 1000px; /* Высота изображения */
  background: url(https://sopranoclub.ru/images/110-krasivyh-fonov-s-derevom/file45103.jpg); /* Прописываем путь к файлу */
  background-repeat: no-repeat; /* Не повторяем */
  background-size: cover; /* Размер фона */
  background-position: center; /* Позиция картинкипо центру */
}
.block_img {
  padding: 10%; /* размер картинки */
  position: relative;
  overflow: hidden;
  margin-right: 10px;
}

/*--------------------*/
.order-div {
    width: 300px;
    height: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: inline-block;
    margin-left: 30px;
    margin-top: 30px;
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    background-color: white;
}
